@media screen and (max-height: 750px) {
    .my-modal-body{
      height:440px;
    }
    #bannerFinePrintText{
      transform: translate3d(10px,100px,10px);
    }
  }
  
  @media screen and (max-height: 620px) {
    .my-modal-body{
      height:340px;
    }
    #bannerFinePrintText{
      transform: translate3d(10px,0px,10px);
    }
  }
  @media screen and (max-height: 520px) {
    .my-modal-body{
      height:240px;
    }
  }
  @media screen and (max-height: 420px) {
    .my-modal-body{
      height:140px;
    }
  }
  @media screen and (max-height: 320px) {
    .my-modal-body{
      height:90px;
    }
  }