@media screen and (max-width: 1400px) {
  .myBox{
    margin:5rem 20rem;
  }
}

@media  screen and (max-width: 1200px) {
    .myPlot{
      width: 48rem;
    }
    .myBox{
      margin: 5rem 15rem;
    }
  }
  
  @media screen and (max-width: 992px){
    #bdSidebar {display: none;}
    #moviesFilterListGroup{display: none;}
    #moviesFilterDropdown{
      display: flex;
      margin: 10px 0px;
      flex-direction: row;
      justify-content: space-around;
    }
    #moviesDropdownCardview{
      width: 95%;
      margin-left: 6px;
    }
    #moviesInputGroup{
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #moviesSearchBox{
      display: none;
    }
    #watchlater-badge{
      transform: translate(-33%, -32%);
    }
    .break { display: block; flex-basis: 100%}
    .my-modal-body{
      overflow-y: auto !important;
      height: 580px;
    }
    .myPlot{
      width: 40rem;
    }
    .myBox{
      margin: 5rem 10rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    #dropdownProfile {display: none;}
    #moviesSearchBoxUp{
      display: none;
    }
    #history-nav-link{
      margin-left: 105px;
    }
  }
  
  
  
  @media screen and (max-width: 768px){
    .col-2 {width: 66.666667% !important;margin-bottom: 20px;}
    #bdSidebar {display: none;}
    #moviesCardRow{
      margin-left: 0;
      align-items: center;
      justify-content: center;
    }
    #videoModalHeader{
      display: none;
    }
    #videoModalHeaderResponsive{
      display: flex;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
    }
    #staticBackdropLabel{
      margin-bottom: 8px !important;
    }
    .myDropdownBtn{
      padding: 1px 15px !important;
    }
    .myPlot{
      width: 20rem;
    }
    .myBannerText{
      font-size: 1rem;
    }
    .myBox{
      margin: 5rem 5rem;
    }
  }

  @media screen and (max-width: 477px) {
    .myDropdownBtn{
      padding: 1px 5px !important;
    }
    #myFilterBy{
      display: none;
    }
    .myBr{
      display: none;
    }
    .myBox{
      margin: 5rem 0;
    }
    .hiddenImg{
      display: none;
    }
    #videoModalWatchLaterBtn{
      display: block;
      margin-top: 0px;
    }
    #moviesSearchSortDivider{
      display: flex;
    }
    #card-crop-container{
      width: 297.5px;
      height: 130.5px;
    }
    #card-card-img-top{
      margin-top: -28px;
    }
  }
  
  @media screen and (max-width: 401px){
    .myImg {height: 20px}
    #myDropdownMenu{
      transform: translate3d(80.8px,30.4px,0px) !important;
    }
  }