@media screen and (max-width: 1400px) {
  .myBox{
    margin:5rem 20rem;
  }
}

@media  screen and (max-width: 1200px) {
    .myPlot{
      width: 48rem;
    }
    .myBox{
      margin: 5rem 15rem;
    }
  }
  
  @media screen and (max-width: 992px){
    #bdSidebar {display: none;}
    #moviesFilterListGroup{display: none;}
    #moviesFilterDropdown{
      display: flex;
      margin: 10px 0px;
      flex-direction: row;
      justify-content: space-around;
    }
    .break { display: block; flex-basis: 100%}
    .my-modal-body{
      overflow-y: auto !important;
      height: 580px;
    }
    .myPlot{
      width: 40rem;
    }
    .myBox{
      margin: 5rem 10rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    #dropdownProfile {display: none;}
  }
  
  
  
  @media screen and (max-width: 768px){
    .col-2 {width: 66.666667% !important;margin-bottom: 20px;}
    #bdSidebar {display: none;}  
    .myDropdownBtn{
      padding: 1px 15px !important;
    }
    .myPlot{
      width: 20rem;
    }
    .myBannerText{
      font-size: 1rem;
    }
    .myBox{
      margin: 5rem 5rem;
    }
  }

  @media screen and (max-width: 477px) {
    .myDropdownBtn{
      padding: 1px 5px !important;
    }
    #myFilterBy{
      display: none;
    }
    .myBr{
      display: none;
    }
    .myBox{
      margin: 5rem 0;
    }
  }
  
  @media screen and (max-width: 401px){
    .myImg {height: 20px}
    #myDropdownMenu{
      transform: translate3d(80.8px,30.4px,0px) !important;
    }
  }